body {
    padding: 0;
    margin: 0;
    background-color: #000000;
}
canvas {
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.geo {
    z-index: 1;
}

.sketch {
    z-index: 0;
}